body
    {
    	background-color: indigo;
    }
p
    {
    	text-align: right;
    	font-family: times new roman;
    	font-size: 25pt;
    }

h1	{
       color:darkred;
       font-size: 35pt;
    }